<div th:replace="fragments/cabecalho :: cabecalho"></div>

<div class="container-fluid">

    <form th:action="@{criarArea.html}" class="form-group" method="post" th:object="${area}">
        <label>Área: </label>
        <input type="text" class="form-control" th:field="*{area}">
        <strong th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></strong>
        <label>Descrição:</label>
        <input type="descricao" class="form-control" th:field="*{descricao}">
        <strong th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></strong>
        <br/>
        <input class="btn btn-success" type="submit"/>
        <input class="btn btn-danger" type="reset"/>
    </form>
</div>
<div th:replace="fragments/rodape :: rodape"></div>
