<div th:replace="fragments/cabecalho :: cabecalho"></div>

<div class="container-fluid">
    <body>
    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Codigo</th>
            <th>Área</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="avaliador: ${avaliadores}" th:object="${avaliador}">
            <td th:text="*{nome}"></td>
            <td th:text="*{email}"></td>
            <td th:text="*{codigo}"></td>
            <td th:text="*{areaConhecimento}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/rodape :: rodape"></div>