<div th:replace="fragments/cabecalho :: cabecalho"></div>

<div class="container-fluid">
    <center><h1>Avaliação de Trabalhos</h1></center>
    <br/><br/>
    <h2>Seja bem vindo,<span th:text="${avaliador.nome}"></span></h2>

    <table>
        <thead>
        <tr>
            <th>Título</th>
            <th>Área de Conhecimento</th>
            <th>Descrição</th>
            <th>Url</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="trabalho: ${trabalhos}" th:object="${trabalho}">
            <td th:text="*{titulo}"></td>
            <td th:text="*{areaConhecimento.area}"></td>
            <td th:text="*{descricao}"></td>
            <td th:text="*{url}"></td>

            <td><a th:href="@{revisao/{id}(id=*{id})}">ABRIR</a></td>
            
        </tr>
        </tbody>
    </table>
    <br/>
    <br/>

    <table>
        <tr th:each="avaliacao: ${avaliacoes}" th:object="${avaliacao}">
            <td th:text="*{nota}"></td>
            <td th:text="*{status}"></td>
            <td th:text="*{descricao}"></td>
            <td th:text="*{avaliador.nome}"></td>
        </tr>
    </table>


</div>
<div th:replace="fragments/rodape :: rodape"></div>