<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"rel="stylesheet">
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
</head>
<body>
        <div class="row">
           
                <div class="col"></div>
               
               <div class="col"><br/>
                   <div class="box-parent-login">
                       <div class="well bg-white box-login">
   
   
                           <img src="icones/dcc.png" class="rounded mx-auto d-block" width="250" height="166" alt="Imagem">
                           <br/>
                           <center><h4>Revisão de Trabalhos</h4></center>
                           <br/>
                           <form method="post">
                               <fieldset>
   
                                   <div class="form-group ls-login-user">
                                       <label for="userLogin">Login</label>
                                       <input class="form-control ls-login-bg-user input-lg" id="userLogin" type="text" aria-label="Usuário" placeholder="E-mail" name="usuario">
                                   </div>
   
                                   <div class="form-group ls-login-password">
                                       <label for="userPassword">Código de acesso</label>
                                       <input class="form-control ls-login-bg-password input-lg" id="userPassword" type="password" aria-label="Senha" placeholder="Senha" name="senha">
                                   </div>
                                   <input type="submit" value="Entrar" class="btn btn-primary btn-lg btn-block" name="acessar" >
   
                                   <center>Não possui cadastro? </center>
                                   <center> <a href="novoavaliador.html">Cadastre-se agora</a></center>
   
                               </fieldset>
                           </form>
                       </div>
                      
                   </div>
               </div>
               <div class="col"></div>
                
           </div>
    
</body>
</html>