<div th:replace="fragments/cabecalho :: cabecalho"></div>

<form th:action="@{/trabalhos/editar.html}" method="post" th:object="${trabalho}" >
    <label>Título: <input type="text" th:field="*{titulo}"></label>
    <strong th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></strong>
    <label>Descrição: <textarea  th:field="*{descricao}"></textarea></label>
    <strong th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></strong>
    <label>Url: <input type="text" th:field="*{url}"></label>
    <strong th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></strong>
    <input type="hidden" th:field="*{id}">
    <label>Área de Conhecimento</label>
    <select>
        <option th:each="conhecimento: ${areas}"
                th:object="${conhecimento}" th:value="*{id}"
                th:field="${trabalho.areaConhecimento}"
                th:text="*{area}">
        </option>
    </select>
    <input type="submit"/>
    <input type="reset"/>
</form>

<div th:replace="fragments/rodape :: rodape"></div>