<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastro - Trabalho</title>
</head>
<body>
<form th:action="@{/trabalhos/cadastrar.html}" method="post" th:object="${trabalho}" >
    <label>Título: <input type="text" th:field="*{titulo}"></label>
    <strong th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></strong>
    <label>Descrição: <textarea th:field="*{descricao}"></textarea></label>
    <strong th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></strong>
    <label>Url: <input type="text" th:field="*{url}"></label>
    <strong th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></strong>
    <input type="submit"/>
    <input type="reset"/>
</form>

</body>
</html>