<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Trabalhos</title>
</head>
<body>
<a type="button" href="/trabalhos/cadastrar.html" > Novo Trabalho</a>
<table>
    <thead>
    <tr>
        <th>Título</th>
        <th>Área de Conhecimento</th>
        <th>Descrição</th>
        <th>Url</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trabalho: ${trabalhos}" th:object="${trabalho}">
        <td th:text="*{titulo}"></td>
        <td th:text="*{areaConhecimento}"></td>
        <td th:text="*{descricao}"></td>
        <td th:text="*{url}"></td>
        <td><a th:href="@{./editar/{id}(id=*{id})}" th:text="*{id}">Editar</a></td>
        <td><a th:href="@{./deletar/{id}(id=*{id})}">X</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>